scheduler.localhost {
	reverse_proxy scheduler-web:8000

    handle_path /static/* {
        root * /scheduler/staticfiles
        file_server
    }

    handle_path /media/* {
        root * /scheduler/media
        file_server
    }

}